@font-face {
    font-family: OldStandardbold;
    src: url('./fonts/OldStandardTT/OldStandardTT-Bold.ttf');
   
}
@font-face {
    font-family: OldStandarditalic;
    src: url('./fonts/OldStandardTT/OldStandardTT-Italic.ttf');
   
}
@font-face {
    font-family: OldStandardRegular;
    src: url('./fonts/OldStandardTT/OldStandardTT-Regular.ttf');
   
}
@font-face {
    font-family: openSans;
    src: url('static/OpenSans_Condensed-SemiBold.ttf');
   
}

h1{
    font-family: OldStandardbold;
    font-size: 55pt;
}
h2{
    font-family: OldStandardRegular;
    font-size: 25PT;
}
h3{
    font-family: OldStandardRegular;
    font-size: 16PT;
}
h4{
    font-family: Opensans;
    font-size: 14PT;
}
h5{
    font-family: Opensans;
    font-size: 12PT;
}
h6{
    font-family: Opensans;
    font-size: 12PT;
}



body{
    background-color: #ffffff;
}


/* header navbar starts */
    .header nav{
        width: 100%;
        height: 110px;
        display: flex;
        align-items: center;
    }

    .header nav img.mobile-logo {
        display: none;
    }

    .header nav ul{
        list-style-type: none;
        margin-left: 4%;
    }
    .header nav ul li{
        display: inline-block;
        
    }
    .header nav ul li a {
        text-decoration: none;
        font-size: .9rem;
        padding: 8px 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
    }

    .header nav ul li a button{
        border-radius: 32px;
        padding: 15px 50px 15px 50px;
        font-size: .9rem;
        color: white;
        background: indianred;
        border: none;
        margin: 0px 0px 0px 60px;
    }
    .header nav ul li a i.desktop-navbar-search.fa-solid.fa-magnifying-glass {
        font-size: 1.2rem;
    }
    .header #checkbtn{
        
        margin-right: 10px;
        font-size: 30px;
        display: none;
    }
    .header #check{
        display: none;
    }
    .header #check:checked ~ ul{
        left: 0;
    }


    


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 96%;
        left: 0;
        height: auto;
        padding-bottom: 5%;
        margin: 50px 10px;
    }

    .dropdown.active .dropdown-content {
        display: block;
    }


    /* .fiction-category{
        padding: 5% 0;
        display: inline-grid;
        float: right;
    }
    .dropdown-content .fiction-category img.category-bumblebee-logo {
        max-height: 40px;
    } */



    .fiction-books-category {
        margin: 25% 0 0 0;
    }

    ol.fiction-list {
        display: grid;
        justify-content: space-between;
    }

    ol.fiction-list li a {
        line-height: 28px !important;
        padding: 1px 0px 0px !important;
        font-size: 0.8rem !important;
    }
    ol.fiction-list li a.section-heading i.fa-solid.fa-chevron-down {
        display: none;
    }
    
    img.category-bumblebee-logo {
        max-height: 65px;
        padding: 15px 0px 10px 0px;
    }
    


    .dropdown-content.search-box {
        margin-top: -5%;
    }
   
    .top-search-box-row{
        display: flex;
        align-items: center;
        padding: 15px 0 14px 0;
    }

    i.cross-navbar-search.fa-solid.fa-xmark {
        font-size: 1.5rem;
        padding-left: 5%;
    }

    .search-box-input {
        width: 100%;
        height: 40px;
        padding: 8px 40px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.5;
        border: none;
        background: #f9f9f9;
    }
    input.search-box-input {
        font-family: system-ui;
        font-size: 1rem;
        font-weight: 500;
        color: #c6c3c1;
    }
    .search-box-input::placeholder {
        color: #c6c3c1; /* Placeholder text color */
    }
    
    .search-box-input:focus {
        border-color: #80bdff;
        outline: 0; 
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .search-box-content{
        padding: 8px 32px;
    }

   
    p.search-box-content-highlighted-text.space-2 {
        background: #efefef;
        padding: 10px;
        font-weight: 600;
        font-family: sans-serif;
        font-size: .8rem;
    }
    p.search-box-content-highlighted-text span{
        margin-left:5px;
        color:indianred
    }

    p.search-box-content-highlighted-text i.fa-solid.fa-circle {
        padding-right: 10px;
        color: white;
    }

    p.search-box-content-highlighted-text small {
        background: indianred;
        padding: 5px 5px 5px 5px;
        color: white;
        font-size: .6rem;
        margin-right: 10px;
    }

    p.search-box-content-text small {
        
        background: #cccccc;
        padding: 5px 5px 5px 5px;
        color: white;
        margin-right: 10px;
        font-size: .6rem;

    }

    p.search-box-content-text.space-2 {
        padding: 10px;
        font-weight: 600;
        font-family: sans-serif;
        font-size: .8rem;
    }

    p.search-box-content-text i.fa-solid.fa-circle {
        padding-right: 10px;
        color: #cccccc;
    }

    p.search-box-content-text span{
        margin-left:5px;
        color:indianred
    }

    p.search-box-content-title {
        padding: 10px;
        font-size: .8rem;
        color: #c6c3c1;
        font-family: sans-serif;
        font-weight: 600;
    }



    a.search-box-view-all-link {
        font-size: .7rem !important;
    }



/* header navbar ends */    




.title-bottom-line-full-width{
    border-bottom: 2px solid indianred;
}




/* .hero-section starts */

.hero-section .main-background-image{
    background-image:url('../images_folder/home_banners/background.png');
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 30px 10px 30px 10px !important;
}
.hero-section .row.flexbox.flex-wrap {
    justify-content: center;
    align-items: center;
    padding: 3px 0 0 0;
}

.hero-section img.banner-image {
    height: 600px;
}



.hero-section .hero-section-slider .slider-text-title{
    font-size: 3.5rem;;
    color: white;
}

.hero-section .hero-section-slider .slider-text-description {
    margin-top: 5%;
    font-size: .8rem;
    font-family: sans-serif;
    color: white;
}
.hero-section-image.flexbox {
    justify-content: center;
}

.hero-section .slick-dots li.slick-active button:before {
    opacity: .75;
    color: white !important;
    font-size: .6rem !important;
}

.hero-section .slick-prev:before {
    content: '←';
    font-size: 1.8rem !important;
}
.hero-section .slick-next:before {
    content: '→';
    font-size: 1.8rem !important;
}
.hero-section .slick-dots {
    position: absolute;
    bottom: -99px;
    display: block;
    width: 79%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    left: 9%;
}
.hero-section .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #928787bf !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hero-section .slick-prev {
    left: 0px;
    margin-top: 157px;
}
.hero-section .slick-next {
    margin-top: 157px;
    right: 30px;
}


/* .hero-section ends */



.slick-slide {
    margin-right: 10px !important; 
}


.card {
    cursor: pointer;
    width: 100%;
    
}

.last-card{
    height: 265px;
    width: 90%;
    
}
 
img.card-image {
    height: 265px;
    width: 90%;

}

img.last-card-image {
    height: 100px;
}


p.last-card-anchor {
    margin: 42px 34px;
}

a.last-card-link {
    font-size: .7rem;
    font-family: sans-serif;
    font-weight: 600;
}
.section-title {
    font-size: 1.8rem;
}
.book-title {
    font-size: 1.1rem;
    word-spacing: 2px;
    padding: 10px 0px;
}
.author-name {
    font-size: .7rem;
    margin-top: -6%;
    color: indianred;
    font-family: system-ui;
    font-weight: 500;
}

.title-bottom-line-indianred {
    margin-top: 1%;
    width: 8%;
    border-top: 3px solid indianred;
}



.slick-dots li.slick-active button:before {
    opacity: .75;
    color: indianred !important;
    font-size: .7rem !important;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: .6rem !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1 !Important;
    color: black !important;
    /* background: black; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.our-children-top-picks .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #ffae00db !important;
    font-size: .6rem !important;
}
.our-children-top-picks .slick-dots li button:before {
    font-family: 'slick';
    font-size: .6rem !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1 !Important;
    color: black !important;
    /* background: black; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mt-5{
    margin-top: 5%;
}
.mb-5{
    margin-bottom: 5%;
}
.space-bottom-5{
    padding-bottom: 5%;
}


/* authors-section starts */

.authors-section .row-fluid.flexbox.author_image_container{
    background-color: black;
    height: auto;
    
}

.authors-section .title-bottom-line-indianred {
    margin-top: 4%;
    width: 19%;
    border-top: 3px solid indianred;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

.authors-section .author-text.space-5.space-bottom-5 {
    padding: 0% 15%;
}


.authors-section  .author-text .author-title {
    font-size: 1.5rem;
    color: white;
}   

.authors-section  .author-text .author-description{
    padding: 5% 0%;
    font-size: .8rem;
    color: #cccbcb;
}
.authors-section  .author-text .link {
    font-size: .7rem;
    color: #ffffff;
    font-family: sans-serif;
}

.authors-section  .author-text .fa-chevron-right {
    font-size: 0.5rem;
}



.authors-section .col-sm-12.col-6.author-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.authors-section .author-images {
    display: flex;
    justify-content: flex-end;
}

.authors-section img.author-image-1 {
    height: 330px;
    width: 45%;
    padding: 3% 0 0 0;
}
.authors-section img.author-image-2 {
    height: 330px;
    width: 45%;
    padding: 3% 0 0 0;
}

/* authors-section ends */


/* bumblebee-book ends*/


.bumblebee-books-section .row-fluid.flexbox.flex-wrap.bumblebee_books_container.mt-5.mb-5 {
    align-items: center;
    background: #fac114;
    padding: 5% 8%;
}
.bumblebee-books-section img.bumblebee-book-image {
    width: 60%;
}


.bumblebee-books-section .bumblebee_books_container .bumblebee-title {
    font-size: 2.5rem;
}
.bumblebee-books-section .bumblebee_books_container .bumblebee-book {
    font-size: 2.5rem;
    padding: 10% 0px;
}
.bumblebee-books-section .bumblebee_books_container .bumblebee-discover {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
    margin-top: 5%;
}
.bumblebee-books-section .bumblebee_books_container .bumblebee-childrens-literature {
    font-size: 1.5rem;
    padding: 3% 0px;
    text-align: center;

}
.bumblebee-books-section p.bumblebee-explore {
    text-align: center !important;
}

a.bumblebee-link {
    font-size: .9rem;
}

/* bumblebee-book-section ends*/



/* children-book-with-description-section starts */

.children-book-with-description-section .children-book-with-description {
    
    margin-bottom: 5%;
    align-items: center;
    background-image:url('../images_folder/images/bumblebee_banner_TWBTA_Banner_background.png');
    background-repeat: no-repeat; 
    background-size: cover;
}



section.children-book-with-description-mobile-section {
    display: none;
}

.children-book-with-description-section img.children-book-large-image {
    margin: 0px;
    padding-right: 15%;
}


.children-book-title {
    font-size: .6rem;
    color: #ffae00db;
    font-weight: 700;
    font-family: sans-serif;
}
.child-book-main-heading {
    font-size: 2rem;
    padding: 5% 0px 5%;
}
.description {
    margin: 29px 0px;
    font-size: .7rem;
    font-family: sans-serif;
}
span.book-author {
    font-family: sans-serif;
    font-size: .6rem;
    font-weight: 600;
}
a.view-book {
    font-size: .6rem;
    font-family: sans-serif;
    font-weight: 600;
}




/* children-book-with-description-section ends */

/* what-to-read-next-content-section starts */

.large-card {
    padding: 20px 20px 20px 20px;
    background: #f6f4f3;
    margin-top: 5%;

}
  
  
.large-card-container-text {
    padding: 2px 16px;
    background: white;
    margin-bottom: 5%;

}
.what-to-read-next-content-section .article-category {
    font-size: .6rem;
    font-weight: 600;
    font-family: sans-serif;
}
.what-to-read-next-content-section .article-title {
    font-size: 1.8rem;
    word-spacing: 2px;
    padding: 2%;
}


/* what-to-read-next-content-section ends */



/* accepting-submission-section-section starts */

.accepting-submission-section .accepting-submissions{
    background-color: indianred;
    align-items: center;
    color: white;
}

.accepting-submission-section .title-bottom-line-white {
    margin-top: 1%;
    width: 8%;
    border-top: 3px solid white;
    margin-left: 15%;

}
.accepting-submission-section .content-heading {
    padding: 10px 15%;
    font-size: 1.5rem;
}
.accepting-submission-section .content-description {
    padding: 3% 15%;
    font-size: .7rem;
    font-family: sans-serif;
}

.accepting-submission-section .content-link {
    padding: 3% 15%;
    font-size: .6rem;
    font-family: sans-serif;
}
.accepting-submission-section img.content-image {
    height: 435px;
}
/* accepting-submission-section-section ends */


/* the-latest-from-our-blog-section starts*/
.the-latest-from-our-blog-section .blog-description {
    margin-top: 6%;
    margin-bottom: 6%;
    font-family: sans-serif;
    font-size: .7rem;
}

.the-latest-from-our-blog-section .article-category {
    font-size: .6rem;
    font-weight: 600;
    font-family: sans-serif;
}
.the-latest-from-our-blog-section .article-title {
    font-size: 1.8rem;
    word-spacing: 2px;
    padding: 2%;
}


.the-latest-from-our-blog-section .blog-link {
    font-size: .6rem;
    font-weight: 500;
    font-family: sans-serif;
}

.title-bottom-line-yellow {
    margin-top: 2%;
    width: 8%;
    border-top: 3px solid #ffae00db;
}


/* footer section  */
section.footer.mt-5 {
    margin-top: 12%;
}

footer{
    background-color: #f6f4f3;
}

.footer-section-margin {
    margin-top: 5% ! IMPORTANT;
    margin-bottom: 3% ! IMPORTANT;
}

.title-bottom-line-full-width{
    border-bottom: 3px solid indianred;
}


section.footer {
    background: #f3f3f3;
}

.footer .footer-icons-text {
    justify-content: center;
}

.footer ul {
    list-style-type: none;
    margin-left: 0;
    padding: 10px 0px; 
    font-size: 10pt;
}
.footer ul li{
    margin: 8px 0px;
}
.footer .footer-title {
    font-size: .8rem;
}
.footer .social-icons {
    margin: 10px 14px;
    width: 30px;
}

.footer-logos.flexbox {
    justify-content: center;
    margin: 40px 0px;
}
.footer .footer-end-section {
    margin-bottom: 5%;
}


/* @media(max-width: 768px){
    .row-fluid.flexbox.author_image_container {
        background-color: white;
        height: auto;
        flex-direction: column-reverse;
    }
    .author-text {
        color: black;
    }
    .author-images {
        display: flex;
        justify-content: flex-end;
        margin-top: 20%;
        background: black;
    }
    .container.bumblebee-section {
        position: relative;
        padding: 50px 0px;
        width: 1300px;
        margin: 0 auto;
        max-width: 100%;
    }
    img.card-image {
        padding-right: 10%;
    }
    .slick-dots {
        position: absolute;
        bottom: -48px !important;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }
} */
